config ZMK_KEYBOARD_NAME
    default "IQS5xxDev"

config LOG
    default y
config ZMK_USB_LOGGING
    default n
config ZMK_RTT_LOGGING
    default y
config ZMK_LOG_LEVEL_DBG
    default y
config ZMK_BLE_PASSKEY_ENTRY
    default n

config ZMK_BLE
    default y
config ZMK_USB
    default y
config ZMK_SETTINGS_RESET_ON_START
    default y
config MAIN_STACK_SIZE
    default 8192
config ZMK_BLE_KEYBOARD_REPORT_QUEUE_SIZE
    default 50
config ZMK_BLE_THREAD_STACK_SIZE
    default 4096

config I2C
    default y
config GPIO
    default y
config PINCTRL
    default y
config ZMK_MOUSE
    default y
config ZMK_POINTING
    default y
config INPUT
    default y
config INPUT_AZOTEQ_IQS5XX
    default y
